<!DOCTYPE html>
<html>
  <head>
    <title>Coin Box</title>
  </head>

  <body>
    <h1>CoinBox API</h1>
    <p>v1.0.0</p>
    <a href="https://github.com/ProfJigsaw">
      <img src="https://camo.githubusercontent.com/1a9ca66f2d5eaf822e77d42a883af1dbe29d91a2/68747470733a2f2f73766773686172652e636f6d2f692f42666d2e737667" alt="Jiggy" data-canonical-src="https://svgshare.com/i/Bfm.svg" style="max-width:100%;">
    </a>
    <br>
    <a href="/graphiql">Click to proceed to playground</a>
  </body>
</html>
